body {
    margin: 0;
}

#game-container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    padding: 10vh;
}

#game-canvas {
    background-color: aqua;
    border: solid 1px black;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.ui {
    position: absolute;
  
}

.center {
    text-align: center;
}

.left {
    left: -1%;
}

.wrap {
    white-space: pre-wrap;
}

#score {    
    left: 45vw;
    font-size: 1.2em;
}

#respawn {
    left: 45vw;
    padding-top: 3vh;
    font-size: 1.2em;
}

#desc {
    top: 90%;
    left: 10vw;
}

#reboundTip {
    top: 30%;
}