body {
    margin: 0;
}

#game-container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    padding: 10vh;
}

#game-canvas {
    background-color: aqua;
    border: solid 1px black;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#score {    
    text-align: center;
    position: absolute;
    left: 49vw;
}